<!-- BEGIN: Subheader -->
<div class="m-subheader  m--padding-top-10" style="margin-bottom: -26px;">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				My Profile
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
			 aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a class="m-nav__link" href="" ng-reflect-href="">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="m-subheader breadcrumsubheader custom-padding-top">
	<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
		<li class="m-nav__item m-nav__item--home">
			<a class="m-nav__link m-nav__link--icon" href="/dashboard" ng-reflect-href="#" ng-reflect-router-link="/dashboard" routerlink="/dashboard">
				<i class="m-nav__link-icon la la-home"></i>
			</a>
		</li>

		<li class="m-nav__separator">
			-
		</li>

		<li class="m-nav__item">
			<a class="m-nav__link" href="" ng-reflect-href="">
				<span class="m-nav__link-text">
					Settings
				</span>
			</a>
		</li>

		<li class="m-nav__separator">
			-
		</li>

		<li class="m-nav__item">
			<a class="m-nav__link" href="" ng-reflect-href="">
				<span class="m-nav__link-text">
					My Profile
				</span>
			</a>
		</li>
	</ul>
</div>

<hr class="customhr" style="margin-top: -6px;">

<!-- END: Subheader -->

<!-- Content Start  -->
<div class="m-content custom-padding-top">

	<div class="row">

		<!-- profile Section on Left -->
		<div class="col-xl-3 col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img src="./assets/app/media/img/users/user4.jpg" alt="" />
							</div>

							<a class="btn btn-brand m-btn m-btn--icon m-btn--icon-only custom-plus-setting btn-file" data-container="body" data-placement="right"
							 data-toggle="m-tooltip" title="" data-original-title="Upload Photo jpg/png">
								<i class="fa fa-plus"></i>
								<input type="file" class="form-control-file" accept="image/png,  image/jpg ">
							</a>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								Mark Andre
							</span>
							<a href="" class="m-card-profile__email m-link">
								mark.andre@gmail.com
							</a>
						</div>
					</div>
					<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
						<li class="m-nav__separator m-nav__separator--fit"></li>
						<li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
						</li>
						<li class="m-nav__item">
							<a class="m-nav__link" (click)="changingRightTabStatus('profile')">
								<i class="m-nav__link-icon flaticon-profile-1"></i>
								<span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											My Profile
										</span>
										<span class="m-nav__link-badge">
											<span class="m-badge m-badge--success">
												2
											</span>
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a class="m-nav__link" (click)="changingRightTabStatus('Security')">
								<i class="m-nav__link-icon flaticon-share"></i>
								<span class="m-nav__link-text">
									Security
								</span>
							</a>
						</li>

						<li class="m-nav__item">
							<a href="javascript:;" class="m-nav__link chatServiceButton">
								<i class="m-nav__link-icon flaticon-chat-1"></i>
								<span class="m-nav__link-text">
									Messages
								</span>
							</a>
						</li>

						<li class="m-nav__item">
							<a class="m-nav__link" (click)="changingRightTabStatus('Payment')">
								<i class="m-nav__link-icon fa fa-credit-card"></i>
								<span class="m-nav__link-text">
									Payment
								</span>
							</a>
						</li>
					</ul>
					<div class="m-portlet__body-separator"></div>
				</div>
			</div>
		</div>

		<!-- Profile Right Section -->
		<div class="col-xl-9 col-lg-8" [hidden]="profileSectionHidden">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Update Profile
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Settings
								</a>
							</li>
						</ul>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-portlet__nav-item--last">
								<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
								 aria-expanded="true">
									<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-gear"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Create Post
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Send Messages
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-multimedia-2"></i>
																<span class="m-nav__link-text">
																	Upload File
																</span>
															</a>
														</li>
														<li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide">
															<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
										classes.
									</div>
								</div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section ">
											1. Personal Details
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Full Name
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter Full Name">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Occupation
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter Occupation">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Company Name
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter Company Name">

									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Phone No.
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter Phone Number">
									</div>
								</div>
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											2. Address
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Address
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter Address">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										City
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter City">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										State
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter State">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Postcode
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="Enter Postcode">
									</div>
								</div>
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											3. Social Links
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Linkedin
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="URL">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Facebook
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="URL">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Twitter
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="URL">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label media-view-right">
										Instagram
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" placeholder="URL">
									</div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="m_user_profile_tab_2">
						<div class="m-portlet__body">
							<h5>Permissions</h5>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Security Right Section -->
		<div class="col-xl-9 col-lg-8" [hidden]="securitySectionHidden">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_security_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Change Password
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_security_tab_2" role="tab">
									Two Factor Authentication
								</a>
							</li>
						</ul>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-portlet__nav-item--last">
								<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
								 aria-expanded="true">
									<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-gear"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Create Post
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Send Messages
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-multimedia-2"></i>
																<span class="m-nav__link-text">
																	Upload File
																</span>
															</a>
														</li>
														<li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide">
															<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="tab-content">

					<div class="tab-pane active" id="m_security_tab_1">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
										classes.
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Old Password
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="password">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										New Password
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="password">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Conform Password
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="password">
									</div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="m_security_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
										classes.
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Phone Number
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="tel">
									</div>
								</div>

								<div class="form-group m-form__group row ">
									<label class="col-2 col-form-label media-view-right">
										Email
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="email">
									</div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>

		<!-- Payment Right Section -->
		<div class="col-xl-9 col-lg-8" *ngIf="!paymentSectionHidden">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_payment_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Online Payment
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_payment_tab_2" role="tab">
									Credit Card
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_payment_tab_3" role="tab">
									Currency
								</a>
							</li>
						</ul>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item m-portlet__nav-item--last">
								<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
								 aria-expanded="true">
									<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-gear"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Create Post
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Send Messages
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-multimedia-2"></i>
																<span class="m-nav__link-text">
																	Upload File
																</span>
															</a>
														</li>
														<li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide">
															<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="tab-content">

					<div class="tab-pane active" id="m_payment_tab_1">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
										classes.
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Methods
									</label>
									<div class="col-7">
										<div class="m-radio-inline">
											<label class="m-radio m-radio--solid  m-radio--brand ">
												<input name="example_3" type="radio" value="paypal"> Paypal
												<span></span>
											</label>
											<label class="m-radio m-radio--solid  m-radio--brand">
												<input name="example_3" type="radio" value="stripe"> Stripe
												<span></span>
											</label>
										</div>
									</div>
								</div>


								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Card Number
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="number">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Expire Date
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="date">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Start Date
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="date">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										CVV
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text">
									</div>
								</div>

							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="m_payment_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
										classes.
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Methods
									</label>
									<div class="col-7">
										<div class="m-radio-inline">
											<label class="m-radio m-radio--solid  m-radio--brand">
												<input name="example_4" type="radio" value="mastercard"> Master-Card
												<span></span>
											</label>
											<label class="m-radio m-radio--solid  m-radio--brand">
												<input name="example_4" type="radio" value="visa"> Visa
												<span></span>
											</label>
										</div>
									</div>
								</div>


								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Card Number
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Expire Date
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="date">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										Start Date
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="date">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label media-view-right">
										CVV
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="number">
									</div>
								</div>

							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane" id="m_payment_tab_3">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
										classes.
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label">
										Methods
									</label>
									<div class="col-7">
										<div class="m-radio-inline">
											<label class="m-radio m-radio--solid  m-radio--brand">
												<input name="example_5" type="radio" value="digital" (change)="onSelectionCurrency('Digital')"> Digital
												<span></span>
											</label>
											<label class="m-radio m-radio--solid  m-radio--brand">
												<input name="example_5" type="radio" value="fiat" (change)="onSelectionCurrency('Fiat')"> Fiat
												<span></span>
											</label>
										</div>
									</div>
								</div>

								<div class="form-group m-form__group row" *ngIf="currencyDDLHidden">
									<label class="col-2 col-form-label">
										Options
									</label>
									<div class="col-7">
										<select class="form-control m-input">
											<option>
												Bitcoin
											</option>
											<option>
												Ethereum
											</option>
											<option>
												Ripple
											</option>
										</select>
									</div>
								</div>

								<div class="form-group m-form__group row" *ngIf="!currencyDDLHidden">
									<label class="col-2 col-form-label">
										Options
									</label>
									<div class="col-7">
										<select class="form-control m-input">
											<option>
												Dollar
											</option>
											<option>
												Pound
											</option>
											<option>
												Euro
											</option>
										</select>
									</div>
								</div>

							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Save changes
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>
<!-- Content End  -->