.custom-plus-setting {
  height: 18px !important;
  width: 18px !important;
  margin-top: 75px;
  margin-left: -10px;
  color: white !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.custom-padding-top {
  padding-top: 0px;
}

@media (max-width: 524px) {
  .media-view-right {
    padding-right: 60px;
  }
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
