.complaintsCard {
    margin-bottom: 5px;
    margin-left: 15px;
}

.cardBorder {
    border: 0px;
    margin-bottom: 5px;
}

.titleComplaints {
    /* margin-left: 15px; */
    margin-bottom: 15px;
    margin-top: 10px;
}

.custom-float-right{
    float: right;
}

.custom-badge-setting{
    height: 10px;
    float:right;
    margin-bottom: 3px;
}

.custom-hover:hover{
    background-color: lightyellow; 
}

.active-card-class{
    background-color: lightyellow; 
}

.custom-image-setting{
    width: 45px;
    height: 45px;
}

.details {
    margin-bottom: 15px;
}

.btnGroup {
    margin-top: 55px;
}

.titles {
    margin-left: 15px;
}