
.body
{
    background-color: transparent;
    min-height: auto;
    display: flex;
    font-size:12px;
    color: #6f727d;
    margin-bottom: 20px;
    height: 90%;
   
}

.card-left
{
    background-color: white; 
    background-repeat: no-repeat;
    background-size: 100% 180px;
    background-position: center bottom; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
   /* -webkit-box-shadow: 0px 3px 5px 0px rgba(128,118,128,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(128,118,128,1);
    
    box-shadow: 0px 3px 5px 0px rgba(128,118,128,1);
    */
    border-right: 2px solid rgba(6, 138, 205 ,0.3);
    box-shadow: -3px 1px 15px 1px rgba(69, 65, 78, 0.08);

}

.card-right p
{
  
  text-align: justify;
}
.card-left p
{
    color:black;
}
.card-left .m-checkbox
{
    /*margin: 6px; */
    margin-top: -6px;
    padding: 0px;
    margin-left: -6px;
}

.home-card label {
    float: left;
    margin-top: 4px;
    position: absolute;
    left: 20px;
}




.card-right {
    background-color: white; 
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: auto;
    /*
    -webkit-box-shadow: 0px 3px 5px 0px rgba(128,118,128,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(128,118,128,1);
    box-shadow: 0px 3px 5px 0px rgba(128,118,128,1);
    */
    box-shadow: 7px 1px 25px -6px rgba(69, 65, 78, 0.08);
    padding-bottom: 18px;

}

.personimage
{
    width: 30px;
    height:30px;
    margin-left: -5px;
    z-index:999;
}

.persontype , .personname
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.personappartmentno , .personbuildingname, .personaddress , .persontype, .agreementtype
{
    margin-bottom: 0px;
    font-size:11px;
    color: #6f727d !important;
}
.personappartmentno i , .personbuildingname i , .personaddress i, .agreementtype i
{
    width: 22px;
}
.personname {
    font-weight: 600;
    font-size: 12px;
}


.m-widget14__stat {
    font-size: 1.8rem;
    font-weight: 500;
    position: absolute;
    top: 41%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.m-widget14__stat {
    color: #dadbe2;
}

.m-widget26 canvas
{
    width: 106px !important;
    height: 60px !important;
}
.personimage:hover
{
    transform: scale(2.5);
    transition: transform 1s ease-in-out;
    z-index: 9999;
}
.personMoreDetailsButton
{
    color: #068ACE;
    font-size: 12px;
}
.singlepersonrow , .twopersonrow
{
    padding:0px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.twopersonrow .personname , .twopersonrow .persontype
{
   margin-left: -7px;
}
.onepersonrow
{
    text-align:center;
    margin-top: -10px;
    margin-bottom: 10px;
}
.m-widget26__chart
{
    height: 37px !important;
}
.m-widget26__number
{
    font-weight: 600;
    font-size: 20px;
}

.moreDetailSection
{
    background-color:#F8F8F8; 
    box-shadow: 0px 4px 12px -4px rgba(120,114,120,1);
     margin-right:0px;
     z-index: 999;
}

.amcharts-chart-div
{
    width:100%;
}
.breadcrumb-header
{
    margin-top: -30px;
    margin-bottom: -15px;
}

.breadcrumb-header li:not(.m-nav__item--home) a span
{
  font-size:11px;
}
.breadcrumb-header .m-nav__item--home .m-nav__link-icon
{
    width: 22px; 
}

.m-subheader__title small
{
    font-size: 0.8rem;
    color: grey;
    cursor: pointer;
}
/*
.customhr
{
    border: 1px solid rgb(65, 13, 13); 
    width: 100%;
    margin-bottom: -10px;
    opacity: 0.7;
}
*/
.onepersonrow
{
    text-align:center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.gridView .chatServiceButton
{
    position: absolute;
    bottom: 10px;
}


.service-item hr
{
    margin:5px 0px 7px 0px;
}
.service-item a
{
    margin-top: -2px;
    margin-left: 4px;
    float: right;
}
a.btn-primary
{
    color:white !important;
}
.services-categories .category-list
{
    margin-top: 15px;
}
.service-heading
{
    font-weight: 600;
}
agm-map {
    height: 600px;
}

.servicesListForm .services-categories
{
    padding-left: 48px;
}


.servicesListForm .m-widget3__item
{
    margin-bottom: 25px;
}



.checked {
    color: orange;
}




.ReviewStars span
{
font-size:10px;
}

.ReviewerImage img
{
    width:40px;
    height: 40px;
}
.TheReview
{
    border-bottom: 1px solid #F2F3F7;
    margin-bottom: 15px;
}
.serviceCard > .row
{
    width:95%;
}

.detailSection .services-categories
{
    max-height:350px;
    overflow-y: scroll;
}

.detailsSectionDiv > div
{
    margin-top: 28px;
}
.m-body .m-content {
    padding: 0px 0px;
}
.m-portlet
{
    margin-bottom: 0px;
}

.m-subheader__title small
{
    margin-left:7px; 
}
.calendarsUsersSelectSection img
{
    width:55px;
    height:50px;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor:pointer;
    border-radius:50%; 
}
