<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto row">

			<div class="col-md-2">
					<h3 class="m-subheader__title" style="display:inline-block">
							Services
						</h3>
						
						
			</div>


			<div class="col-md-1 ">
					<a (click)="doit()" id="adjustRadius"  style="margin-top:  13px;display:  inline-block; cursor:pointer;">
							<i class="fa fa-map-marker" style="font-size: 1.45rem;"></i>
						</a>
			</div>

			<div class="col-md-3">
					<div class="form-group m-form__group" style="display:inline-block ; margin-left:8px;">
							<label>
								Service Type
							</label>
							<select class="form-control m-input">
								<option>
									All
								</option>
								<option>
									Hair
								</option>
								
								<option>
									Health
								</option>
								<option>
									Shopping
								</option>
								<option>
									Electronics
								</option>
								<option>
									Cleaning
								</option>
							</select>
						</div>
				
			</div>

			<div class="col-md-4">
					<div class="form-group m-form__group" style="display:inline-block; margin-left:8px;">
							<label>
								Search Shop/ Business:
							</label>
							<input class="form-control" type="text">
					</div>

			</div>

			<div class="col-md-2">
				<button class="btn btn-primary" style="margin-top: 23px;margin-left: 8px;">Search</button>

			</div>
			
		</div>
		<button  class="btn btn-link pull-right " (click)="changeView()"><i class="fa"  [class.hidden]="!isGridView"  [ngClass]="{'fa-list' : isGridView , 'fa-th' : !isGridView}" ></i> {{viewName}} </button>

	</div>
</div>



<!-- END: Subheader -->
<div class="m-content">
	<!--Begin::Section-->
<div class="row gridView" style="padding: 0px 10px;" [style.display]="isGridView ? 'flex' : 'none'" >
		<div  class="col-md-6">
				<div   class="body organ1">
					<div   class="row" style="margin:0px;">
					  <div   class="card-left col-lg-3" id="">
						<label   class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
						  <input   class="chkboxes" type="checkbox">
						  <span  ></span>
						</label>
						
						<div   class="row onepersonrow">
						 
						  <div   class="col-md-12">
								<img   class="personimage" src="./assets/demo/demo3/media/img/electric.png">
								<p   class="personname">Jaz Electric</p>
								<p   class="persontype">Electronics</p>
						  </div> 
					</div>
					 
					   
						
							 <p   class="personappartmentno"><i   class="fa fa-clock-o"></i> 6:00 - 23:00</p>
							 <p   class="personbuildingname"><i   class="fa fa-money"></i> $60 - $200</p>
							 <p   class="personaddress"><i   class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada</p>
							  <a href="javascript:;" class="btn btn-default chatServiceButton"><i class="fa fa-envelope"></i> Message</a>
							 
					  </div>
					  <div   class="card-right col-lg-9" >
							  <h6   class="text-muted pull-left"><i   class="fa fa-cog"></i> Service Details</h6>
							  <button   class="btn btn-link personMoreDetailsButton pull-right" style="padding:0px;">More Details</button>
							  <div   class="clearfix"></div>
						<div  class="row services-categories">
							<div class="col-md-12 category-list">
								<h6 class="service-heading">Electronic Repairs</h6>
								<div class="row service-item">
									<div class="col-md-6">
											Single Item Repair
									</div>
									<div class="col-md-3">
											<span class="m--font-success">
													$120.00
											</span>
									</div>
									<div class="col-md-3">
											<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book </a>
									</div>
									<div class="col-md-12">
										<hr>
									</div>

								</div>
								

								<div class="row service-item">
										<div class="col-md-6">
												Multiple Item Repair
										</div>
										<div class="col-md-3">
												<span class="m--font-success">
														$60.00
												</span>
										</div>
										<div class="col-md-3">
												<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book</a>
										</div>
										<div class="col-md-12">
											<hr>
										</div>
	
									</div>		
											
							</div>



							<div class="col-md-12 category-list">
									<h6 class="service-heading">Buy Electronic</h6>
									<div class="row service-item">
										<div class="col-md-6">
											Refrigerator
										</div>
										<div class="col-md-3">
												<span class="m--font-success">
														$500.00
												</span>
										</div>
										<div class="col-md-3">
												<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book</a>
										</div>
										<div class="col-md-12">
											<hr>
										</div>
	
									</div>
									
	
									<div class="row service-item">
											<div class="col-md-6">
												Air Conditioner
											</div>
											<div class="col-md-3">
													<span class="m--font-success">
															$200.00
													</span>
											</div>
											<div class="col-md-3">
													<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book</a>
											</div>
											<div class="col-md-12">
												<hr>
											</div>
		
										</div>		
												
								</div>

							  <!--div   class="col-sm-4">
									  <div   class="m-widget26">
											 
											  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
												  <canvas   id="m_chart_quick_stats_1" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
											  </div>
											  <div   class="m-widget26__number">
												  690
												  <small  >
													  All Orders
												  </small>
											  </div>
										  </div>


							  </div>

							  <div   class="col-sm-4">
									  <div   class="m-widget26">
											 
											  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
												  <canvas   id="m_chart_quick_stats_2" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
											  </div>
											  <div   class="m-widget26__number">
												  690
												  <small  >
													  All Orders
												  </small>
											  </div>
										  </div>


							  </div>

							  <div   class="col-sm-4">
									  <div   class="m-widget26">
											  
											  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
												  <canvas   id="m_chart_quick_stats_3" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
											  </div>
											  <div   class="m-widget26__number">
												  690
												  <small  >
													  All Orders
												  </small>
											  </div>
										  </div>


							  </div>

							  <div  class="col-sm-4">
								  <div  class="m-widget26">
										  
										  <div  class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
											  <canvas   id="m_chart_quick_stats_4" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
										  </div>
										  <div   class="m-widget26__number">
											  690
											  <small  >
												  All Orders
											  </small>
										  </div>
									  </div>


						  </div>

						  <div   class="col-sm-4">
							  <div   class="m-widget26">
									  
									  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
										  <canvas   id="m_chart_quick_stats_5" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
									  </div>
									  <div   class="m-widget26__number">
										  690
										  <small  >
											  All Orders
										  </small>
									  </div>
								  </div>


					  </div>
					  <div   class="col-sm-4">
						  <div   class="m-widget26">
								  
								  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
									  <canvas   id="m_chart_quick_stats_6" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
								  </div>
								  <div   class="m-widget26__number">
									  690
									  <small  >
										  All Orders
									  </small>
								  </div>
							  </div>


				  </div-->
						   
		  
							
							
							
						</div>   
						
					  </div>
					</div>
					</div>
			</div>


			<div  class="col-md-6">
					<div   class="body organ1">
						<div   class="row" style="margin:0px;">
						  <div   class="card-left col-lg-3" id="">
							<label   class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
							  <input   class="chkboxes" type="checkbox">
							  <span  ></span>
							</label>
							
							<div   class="row onepersonrow">
							 
							  <div   class="col-md-12">
									<img   class="personimage" src="./assets/demo/demo3/media/img/hair.png">
									<p   class="personname">Mont Hair</p>
									<p   class="persontype">Hair Saloon</p>
							  </div> 
						</div>
						 
						   
							
						<p   class="personappartmentno"><i   class="fa fa-clock-o"></i> 6:00 - 23:00</p>
						<p   class="personbuildingname"><i   class="fa fa-money"></i> $100 - $200</p>
								 <p   class="personaddress"><i   class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada</p>
								 <a href="javascript:;" class="btn btn-default chatServiceButton"><i class="fa fa-envelope"></i> Message</a>
								 
						  </div>
						  <div   class="card-right col-lg-9">
								  <h6   class="text-muted pull-left"><i   class="fa fa-cog"></i> Service Details</h6>
								  <button   class="btn btn-link personMoreDetailsButton pull-right" style="padding:0px;">More Details</button>
								  <div   class="clearfix"></div>
								  <div  class="row services-categories">
										<div class="col-md-12 category-list">
											<h6 class="service-heading">Hair</h6>
											<div class="row service-item">
													<div class="col-md-6">
															Hair Cutting
													</div>
													<div class="col-md-3">
															<span class="m--font-success">
																	$60.50
															</span>
													</div>
													<div class="col-md-3">
															<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book </a>
													</div>
													<div class="col-md-12">
														<hr>
													</div>
				
												</div>
												<div class="row service-item">
														<div class="col-md-6">
																Fancy Cutting
														</div>
														<div class="col-md-3">
																<span class="m--font-success">
																		$100.00
																</span>
														</div>
														<div class="col-md-3">
																<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book </a>
														</div>
														<div class="col-md-12">
															<hr>
														</div>
					
													</div>
													<div class="row service-item">
															<div class="col-md-6">
																	Head Shaving
															</div>
															<div class="col-md-3">
																	<span class="m--font-success">
																			$50
																	</span>
															</div>
															<div class="col-md-3">
																	<a data-toggle="modal" data-target="#addBookingModal" class="btn btn-sm btn-primary">Book </a>
															</div>
															<div class="col-md-12">
																<hr>
															</div>
						
														</div>
										</div>
									</div>  
							
						  </div>
						</div>
						</div>
				</div>

				<div  class="col-md-6">
						<div   class="body organ1">
							<div   class="row" style="margin:0px;">
							  <div   class="card-left col-lg-3" id="">
								<label   class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
								  <input   class="chkboxes" type="checkbox">
								  <span  ></span>
								</label>
								
								<div   class="row onepersonrow">
								  <div   class="col-md-12">
										<img   class="personimage" src="./assets/demo/demo3/media/img/broom.jpg">
										<p   class="personname">Chris Shining</p>
										<p   class="persontype">Cleaning</p>
								  </div> 
							</div>
							 
							   
								
							<p   class="personappartmentno"><i   class="fa fa-clock-o"></i> 9:00 - 18:00</p>
							<p   class="personbuildingname"><i   class="fa fa-money"></i> $120 - $160</p>
									 <p   class="personaddress"><i   class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada</p>
									  <a data-toggle="modal" data-target="#addBookingModal" class="btn btn-primary bookServiceButton">Book Service</a>
									 
							  </div>
							  <div   class="card-right col-lg-9">
									  <h6   class="text-muted pull-left"><i   class="fa fa-cog"></i> Service Details</h6>
									  <button   class="btn btn-link personMoreDetailsButton pull-right" style="padding:0px;">More Details</button>
									  <div   class="clearfix"></div>
								<div   class="row">
									
		
									  <div   class="col-sm-4">
											  <div   class="m-widget26">
													 
													  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
														  <canvas   id="m_chart_quick_stats_13" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
													  </div>
													  <div   class="m-widget26__number">
														  690
														  <small  >
															  All Orders
														  </small>
													  </div>
												  </div>
		
		
									  </div>
		
									  <div   class="col-sm-4">
											  <div   class="m-widget26">
													 
													  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
														  <canvas   id="m_chart_quick_stats_14" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
													  </div>
													  <div   class="m-widget26__number">
														  690
														  <small  >
															  All Orders
														  </small>
													  </div>
												  </div>
		
		
									  </div>
		
									  <div   class="col-sm-4">
											  <div   class="m-widget26">
													  
													  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
														  <canvas   id="m_chart_quick_stats_15" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
													  </div>
													  <div   class="m-widget26__number">
														  690
														  <small  >
															  All Orders
														  </small>
													  </div>
												  </div>
		
		
									  </div>
		
									  <div  class="col-sm-4">
										  <div  class="m-widget26">
												  
												  <div  class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
													  <canvas   id="m_chart_quick_stats_16" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
												  </div>
												  <div   class="m-widget26__number">
													  690
													  <small  >
														  All Orders
													  </small>
												  </div>
											  </div>
		
		
								  </div>
		
								  <div   class="col-sm-4">
									  <div   class="m-widget26">
											  
											  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
												  <canvas   id="m_chart_quick_stats_17" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
											  </div>
											  <div   class="m-widget26__number">
												  690
												  <small  >
													  All Orders
												  </small>
											  </div>
										  </div>
		
		
							  </div>
							  <div   class="col-sm-4">
								  <div   class="m-widget26">
										  
										  <div   class="m-widget26__chart" style="height:90px; width: 220px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
											  <canvas   id="m_chart_quick_stats_18" width="220" height="110" class="chartjs-render-monitor" style="display: block; width: 220px; height: 110px;"></canvas>
										  </div>
										  <div   class="m-widget26__number">
											  690
											  <small  >
												  All Orders
											  </small>
										  </div>
									  </div>
		
		
						  </div>
								   
				  
									
									
									
								</div>   
								
							  </div>
							</div>
							</div>
					</div>

					<div  class="col-md-6">
							<div   class="body organ1">
								<div   class="row" style="margin:0px;">
								  <div   class="card-left col-lg-3" id="">
									<label   class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
									  <input   class="chkboxes" type="checkbox">
									  <span  ></span>
									</label>
									
									<div   class="row onepersonrow">
									 
									  <div   class="col-md-12">
											<img   class="personimage" src="./assets/demo/demo3/media/img/doctor.jpg">
											<p   class="personname">Jane Clinic</p>
											<p   class="persontype">Health</p>
									  </div> 
								</div>
								 
								   
									
								<p   class="personappartmentno"><i   class="fa fa-clock-o"></i> 6:00 - 23:00</p>
								<p   class="personbuildingname"><i   class="fa fa-money"></i> $60 - $200</p>
										 <p   class="personaddress"><i   class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada</p>
										  <a data-toggle="modal" data-target="#addBookingModal" class="btn btn-primary bookServiceButton">Book Service</a>
										 
								  </div>
								  <div   class="card-right col-lg-9">
										  <h6   class="text-muted pull-left"><i   class="fa fa-cog"></i> Service Details</h6>
										  <button   class="btn btn-link personMoreDetailsButton pull-right" style="padding:0px;">More Details</button>
										  <div   class="clearfix"></div>
										  
									  
									
								  </div>
								</div>
								</div>
						</div>
</div>
<div class="row justify-content-md-center" style="padding: 0px 10px;"   [style.display]="!isGridView ? 'flex' : 'none'">
	
	<div class="m-portlet m-portlet--full-height">
		
				<div class="m-portlet__body">
					<div class="row">
                    <div class="col-md-4">


							<div class="form-group m-form__group">
									<label >
										Service Type
									</label>
									<select class="form-control m-input">
										<option>
										    All
										</option>
										<option>
											Hair
										</option>
										
										<option>
											Health
										</option>
										<option>
											Shopping
										</option>
										<option>
											Electronics
										</option>
										<option>
											Cleaning
										</option>
									</select>
								</div>

								<div class="form-group m-form__group">
										<label >
											Sort By
										</label>
										<select class="form-control m-input">
											<option>
												Recommendations
											</option>
											<option>
												Price Low To High
											</option>
											
											<option>
												Price High To Low
											</option>
											<option>
												Rating
											</option>
											<option>
												Comments
											</option>
										
										</select>
									</div>


							<div class="form-group m-form__group">
									<label >
										Search Shop/ Business Name:
									</label>
									<input class="form-control"  type="text">
								</div>

								<div class="form-group m-form__group">
										<label>
											Select The Date:
										</label>
										<input class="form-control"  type="date">
									</div>


									<div class="form-group m-form__group">
											<label >
												Select The Time:
											</label>
											<select class="form-control">
												<option>Any Time</option>
												<option>08-09AM</option>
												<option>09-10AM</option>
												<option>10-11AM</option>
												<option>11-12PM</option>
												<option>12-01PM</option>
												<option>01-02PM</option>
												<option>02-03PM</option>
											</select>
										</div>



										<div class="form-group m-form__group">
												<label >
													Select Location
												</label>
												<input class="form-control"  type="text">
											</div>


											<div class="m-form__group form-group">
													<label for="">
														Budget
													</label>
													<div class="m-radio-list">
														<label class="m-radio">
															<input name="example_1" type="radio" >
															Any
															<span></span>
														</label>
														<label class="m-radio">
															<input name="example_1" type="radio" >
															$0 - $30
															<span></span>
														</label>
													
														<label class="m-radio">
															<input name="example_1" type="radio">
															$30 - $60
															<span></span>
														</label>


														<label class="m-radio">
																<input name="example_1" type="radio">
																$60 - $120
																<span></span>
															</label>
													</div>
												</div>

								

                    </div>

					<div class="col-md-8">
					<div class="m-widget3">
						<div class="m-widget3__item">
							<div class="m-widget3__header">
								<div class="m-widget3__user-img">
									<img alt="" class="m-widget3__img personimage" src="./assets/demo/demo3/media/img/electric.png">
								</div>
								<div class="m-widget3__info">
									<span class="m-widget3__username">
										Jazz Electronics
									</span>
									
									<br>
									<span class="m-widget3__time personappartmentno">
											<i class="fa fa-th"></i> Electronics
										</span>
										<br>
									<span class="m-widget3__time personappartmentno">
										<i class="fa fa-clock-o"></i> 6:00 - 23:00
									</span>
									<br>
									<span class="m-widget3__time personappartmentno">
										<i class="fa fa-money"></i> $60 - $200
									</span>
									<br>
									<span class="m-widget3__time personappartmentno">
											<i class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada
									</span>

								</div>
								<a class="btn btn-default chatServiceButton" href="javascript:;" ng-reflect-href="javascript:;"><i class="fa fa-envelope"></i> Message</a>
							</div>
							<div class="m-widget3__body">
									<div class="row services-categories" style="padding-left: 48px;">
											<div class="col-md-12 category-list">
												<h6 class="service-heading">Electronic Repairs</h6>
												<div class="row service-item">
													<div class="col-md-6">
															Single Item Repair
													</div>
													<div class="col-md-3">
															<span class="m--font-success">
																	$120.00
															</span>
													</div>
													<div class="col-md-3">
															<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book </a>
													</div>
													<div class="col-md-12">
														<hr>
													</div>
				
												</div>
												
				
												<div class="row service-item">
														<div class="col-md-6">
																Multiple Item Repair
														</div>
														<div class="col-md-3">
																<span class="m--font-success">
																		$60.00
																</span>
														</div>
														<div class="col-md-3">
																<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book</a>
														</div>
														<div class="col-md-12">
															<hr>
														</div>
					
													</div>		
															
											</div>
				
				
				
											<div class="col-md-12 category-list">
													<h6 class="service-heading">Buy Electronic</h6>
													<div class="row service-item">
														<div class="col-md-6">
															Refrigerator
														</div>
														<div class="col-md-3">
																<span class="m--font-success">
																		$500.00
																</span>
														</div>
														<div class="col-md-3">
																<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book</a>
														</div>
														<div class="col-md-12">
															<hr>
														</div>
					
													</div>
													
					
													<div class="row service-item">
															<div class="col-md-6">
																Air Conditioner
															</div>
															<div class="col-md-3">
																	<span class="m--font-success">
																			$200.00
																	</span>
															</div>
															<div class="col-md-3">
																	<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book</a>
															</div>
															<div class="col-md-12">
																<hr>
															</div>
						
														</div>		
																
												</div>
				
											  
										   
						  
											
											
											
										</div>
							</div>
						</div>
						<div class="m-widget3__item">
								<div class="m-widget3__header">
									<div class="m-widget3__user-img">
										<img alt="" class="m-widget3__img personimage" src="./assets/demo/demo3/media/img/hair.png">
									</div>
									<div class="m-widget3__info">
										<span class="m-widget3__username">
											Mont Hair
										</span>
										
										<br>
										<span class="m-widget3__time personappartmentno">
												<i class="fa fa-th"></i> Saloon
											</span>
											<br>
										
										<span class="m-widget3__time personappartmentno">
											<i class="fa fa-clock-o"></i> 6:00 - 23:00
										</span>
										<br>
										<span class="m-widget3__time personappartmentno">
											<i class="fa fa-money"></i> $100 - $200
										</span>
										<br>
										<span class="m-widget3__time personappartmentno">
												<i class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada
										</span>
	
									</div>
									<a class="btn btn-default chatServiceButton" href="javascript:;" ng-reflect-href="javascript:;"><i class="fa fa-envelope"></i> Message</a>
								</div>
								<div class="m-widget3__body">
										<div class="row services-categories" style="padding-left: 48px;">
												<div class="col-md-12 category-list">
													<h6 class="service-heading">Hair</h6>
													<div class="row service-item">
															<div class="col-md-6">
																	Hair Cutting
															</div>
															<div class="col-md-3">
																	<span class="m--font-success">
																			$60.50
																	</span>
															</div>
															<div class="col-md-3">
																	<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book </a>
															</div>
															<div class="col-md-12">
																<hr>
															</div>
						
														</div>
														<div class="row service-item">
																<div class="col-md-6">
																		Fancy Cutting
																</div>
																<div class="col-md-3">
																		<span class="m--font-success">
																				$100.00
																		</span>
																</div>
																<div class="col-md-3">
																		<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book </a>
																</div>
																<div class="col-md-12">
																	<hr>
																</div>
							
															</div>
															<div class="row service-item">
																	<div class="col-md-6">
																			Head Shaving
																	</div>
																	<div class="col-md-3">
																			<span class="m--font-success">
																					$50
																			</span>
																	</div>
																	<div class="col-md-3">
																			<a class="btn btn-sm btn-primary" data-target="#addBookingModal" data-toggle="modal">Book </a>
																	</div>
																	<div class="col-md-12">
																		<hr>
																	</div>
								
																</div>
												</div>
											</div>
								</div>
							</div>
							<div class="m-widget3__item">
									<div class="m-widget3__header">
										<div class="m-widget3__user-img">
											<img alt="" class="m-widget3__img personimage" src="./assets/demo/demo3/media/img/doctor.jpg">
										</div>
										<div class="m-widget3__info">
											<span class="m-widget3__username">
												Jane Clinic
											</span>
											<br>
											<span class="m-widget3__time personappartmentno">
													<i class="fa fa-th"></i>Health
												</span>
												<br>
												
											
											
											<span class="m-widget3__time personappartmentno">
												<i class="fa fa-clock-o"></i> 6:00 - 23:00
											</span>
											<br>
											<span class="m-widget3__time personappartmentno">
												<i class="fa fa-money"></i> $60 - $200
											</span>
											<br>
											<span class="m-widget3__time personappartmentno">
													<i class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada
											</span>
		
										</div>
										<a class="btn btn-primary bookServiceButton" data-target="#addBookingModal" data-toggle="modal">Book Service</a>
									</div>
									<div class="m-widget3__body">
										<p class="m-widget3__text">
											Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
										</p>
									</div>
								</div>
								<div class="m-widget3__item">
										<div class="m-widget3__header">
											<div class="m-widget3__user-img">
												<img alt="" class="m-widget3__img personimage" src="./assets/demo/demo3/media/img/broom.jpg">
											</div>
											<div class="m-widget3__info">
												<span class="m-widget3__username">
														Chris Shining
												</span>
												
												<br>
												<span class="m-widget3__time personappartmentno">
														<i class="fa fa-th"></i>Cleaning
													</span>
												
												<span class="m-widget3__time personappartmentno">
													<i class="fa fa-clock-o"></i> 8:00 - 18:00
												</span>
												<br>
												<span class="m-widget3__time personappartmentno">
													<i class="fa fa-money"></i> $120 - $160
												</span>
												<br>
												<span class="m-widget3__time personappartmentno">
														<i class="fa fa-map-marker"></i> 1620 Orr Rd, Mississauga, ON L5J 4T2, Canada
												</span>
			
											</div>
											<a class="btn btn-primary bookServiceButton" data-target="#addBookingModal" data-toggle="modal">Book Service</a>
										</div>
										<div class="m-widget3__body">
											<p class="m-widget3__text">
												Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
											</p>
										</div>
									</div>
					</div>
					</div>
				</div>
				</div>
			</div>


</div>
</div>


<!-- Support Ticket Modal Start-->
<div aria-labelledby="supportModalLabel" class="modal fade show" id="c_modal_broadcast" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="supportModalLabel">
						Broadcast Service Request
					</h5>
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">
								×
							</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label class="form-control-label" for="broadcast-recipient-name">
								Recipient:
							</label>
							<input class="form-control" id="broadcast-recipient-name" type="text">
						</div>

						<div class="form-group">
								<label class="form-control-label" for="broadcast-category-name">
									Service Category:
								</label>
								<select class="form-control" id="broadcast-category-name" type="text">
									<option>Food</option>
									<option>Shipping</option>
									<option>Clothing</option>
									<option>Games &amp; Fitness</option>
								</select>
							</div>


							

							<div class="form-group">
									<label class="form-control-label" for="broadcast-subcategory-name">
										Service Sub-Category:
									</label>
									<select class="form-control" id="broadcast-subcategory-name" type="text">
										<option>Sea Food</option>
										<option>Air Cargo</option>
										<option>Clothing</option>
										<option>Video Games</option>
									</select>
								</div>


								<div class="form-group">
										<label class="form-control-label" for="broadcast-contact-number">
											Contact Number:
										</label>
										<input class="form-control" id="broadcast-contact-number" type="text">
								</div>


						<div class="form-group">
							<label class="form-control-label" for="support-message-text">
								Message:
							</label>
							<textarea class="form-control" id="support-message-text"></textarea>
						</div>


					

							
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal" type="button">
						Close
					</button>
					<button class="btn btn-primary" type="button">
						Submit
					</button>
				</div>
			</div>
		</div>
       </div>
	
	<!-- Support Ticket Modal Ends-->


	

<div aria-labelledby="bookingModalLabel" class="modal fade" id="addBookingModal" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Make A Booking
					</h5>
					<button aria-label="Close" class="close" data-dismiss="modal" type="button">
						<span aria-hidden="true">
							×
						</span>
					</button>
				</div>
				<div class="modal-body">

            <div class="row">
                <div class="col-md-6">
                        <h4>Booking</h4>
                        <div class="form-group m-form__group">
                                <label for="BookingServiceName">
                                    Service Name:
                                </label>
                                <input class="form-control" id="BookingServiceName" type="text">
                        </div>


                        <div class="form-group m-form__group">
                                <label for="BookingStaffMember">
                                    Staff Member:
                                </label>
                                <input class="form-control" id="BookingStaffMember" type="text">
                            </div>


                            <div class="form-group m-form__group">
                                    <label for="BookingQuantity">
                                        Quantity:
                                    </label>
                                    <input class="form-control" id="BookingQuantity" type="text">
                                </div>


                                <div class="form-group m-form__group">
                                        <label for="BookingAmount">
                                            Amount:
                                        </label>
                                        <input class="form-control" id="BookingAmount" type="text">
                                    </div>

                                    <div class="form-group m-form__group row">
                                            <label class="col-12 col-form-label" for="example-datetime-local-input">
                                                Time Period
                                            </label>
                                            <div class="col-12">
                                                <input class="form-control m-input" id="example-datetime-local-input" type="datetime-local" value="2011-08-19T13:45:00">
                                            </div>
                                        </div>
                </div>

                <div class="col-md-6">
                        <h4>Customer</h4>

                        <div class="form-group m-form__group">
                                <label for="bookingcustomerNameField">
                                    Name:
                                </label>
                                <input class="form-control" id="bookingcustomerNameField" type="text">
                            </div>

                            <div class="form-group m-form__group">
                                    <label for="bookingcustomerEmailField">
                                        Email:
                                    </label>
                                    <input class="form-control" id="bookingcustomerEmailField" type="text">
                                </div>

                                <div class="form-group m-form__group">
                                        <label for="bookingcustomerPhoneField">
                                            Phone:
                                        </label>
                                        <input class="form-control" id="bookingcustomerPhoneField" type="text">
                                    </div>
                        
                     <div class="form-group m-form__group">
                            <label for="addressFieldBooking">
                                Address:
                            </label>
                            <input class="form-control" id="addressFieldBooking" type="text">
                        </div>


                        <div class="m-form__group form-group">
                                <div class="m-radio-list">
                                    <label class="m-radio">
                                        <input name="example_1" type="radio" value="1">
                                        Payment In Person
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input name="example_1" type="radio" value="2">
                                        Payment With Credit Card
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                </div>
            </div>
                   
                    
        
                    
                    
                    
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal" type="button">
						Close
					</button>
					<button class="btn btn-primary" type="button">
						Make Booking
					</button>
				</div>
			</div>
		</div>
	</div>










	<div aria-labelledby="exampleModalLabel" class="modal fade" id="radiusModal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">
							Service Provider Radius Adjustment
						</h5>
						<button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">
								×
							</span>
						</button>
					</div>
					<div class="modal-body">
							<agm-map [latitude]="43.589045"  [longitude]="-79.64412" [zoom]="10" #AgmMap>
									<agm-marker  [latitude]="43.589045" [longitude]="-79.64412">
											<agm-info-window><strong>Category</strong>: Food<br>
												<strong>Subcategory</strong>: Seafood<br>
												<strong>Name</strong>: Mississaga Sea Restaraunt<br>
												<strong>Contact</strong>: 019182010
											</agm-info-window>
									</agm-marker>
		
									<agm-marker  [latitude]="43.758931" [longitude]="-79.398645">
											<agm-info-window><strong>Category</strong>: Games<br>
												<strong>Subcategory</strong>: Video<br>
												<strong>Name</strong>: North York Fun Games<br>
												<strong>Contact</strong>: 019182010
											</agm-info-window>
									</agm-marker>
		
									<agm-marker  [latitude]="43.677718" [longitude]="-79.62482">
											<agm-info-window>
												<strong>Category</strong>: Shipping<br>
												<strong>Subcategory</strong>: Luggage<br>
												<strong>Name</strong>: Mississaga International Airport Cargo<br>
												<strong>Contact</strong>: 019182010
											</agm-info-window>
									</agm-marker>
		
		
									<agm-circle [latitude]="43.677718" [longitude]="-79.62482" 
									[radius]="15000"
									  [fillColor]="'lightgreen'"
									  [circleDraggable]="true"
									  [editable]="true">
									  </agm-circle>
							</agm-map>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal" type="button">
							Close
						</button>
					
					</div>
				</div>
			</div>
		</div>
	
	<!-- Modals End-->
