<!-- END: Header -->
<div class="m-subheader  m--padding-top-10" style="margin-bottom: -26px;">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Order Page
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">

            </ul>
        </div>
    </div>
</div>
<!-- END: Header -->

<!-- Start: Subheader -->
<div class="m-subheader breadcrumsubheader" style="padding-top:  0px;">
    <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
            <a class="m-nav__link m-nav__link--icon" href="/dashboard" ng-reflect-href="#" ng-reflect-router-link="/dashboard" routerlink="/dashboard">
                <i class="m-nav__link-icon la la-home"></i>
            </a>
        </li>
        <li class="m-nav__separator">
            -
        </li>

        <li class="m-nav__item">
            <a class="m-nav__link" href="" ng-reflect-href="">
                <span class="m-nav__link-text">
                    Order
                </span>
            </a>
        </li>
    </ul>
</div>
<!-- END: Subheader -->

<hr class="customhr" style="margin-top: -6px;">

<!-- Content Begins -->
<div class="m-content" *ngIf="orderHistory">

    <div class="row" [hidden]="!formHidden">


        <!--List 1 Start-->
        <div class="col-xl-3">
            <!--begin:: Widgets/Authors Profit-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Pending
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                data-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    All
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            Quick Actions
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Activity
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
                                                                Messages
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">
                                                                FAQ
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
                                                                Support
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                            Cancel
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body custom-can-setting">
                    <div class="m-widget4 mcol" [dragula]='"bag-task1"'>

                        <div class="m-widget4__item" *ngFor="let schedule of scheduleArray; let i =index">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="{{schedule.image}}" alt="" class="custom-image-setting">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    {{schedule.name}}
                                </span>
                                <br>
                                <span class="m-widget4__sub">
                                    {{schedule.service}}
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number m--font-brand custom-can-price-setting">
                                    ${{schedule.price}}
                                </span>
                                <span class="m-widget4__ext">
                                    <a class="m--font-brand custom-pointer" data-target="#m_modal_detail" data-toggle="modal" (click)="setDetailModalData(schedule.name, schedule.price, schedule.service)">Details</a>
                                </span>
                            </span>
                        </div>


                    </div>
                </div>
            </div>
            <!--End::Section-->
        </div>
        <!--List 1 Ends-->


        <!--List 2 Start-->
        <div class="col-xl-3">
            <!--begin:: Widgets/Authors Profit-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Schedule/Reschedule
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                data-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    All
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            Quick Actions
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <!-- id="add-service-request" -->
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-user"></i>
                                                            <span class="m-nav__link-text ">
                                                                <span class="custom-customer-underline">
                                                                    Customer
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon fa fa-building"></i>
                                                            <span class="m-nav__link-text ">

                                                                <span class="custom-company-underline">
                                                                    Company
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                            Cancel
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body custom-can-setting">
                    <div class="m-widget4 mcol" [dragula]='"bag-task1"'>

                        <!-- Dynamic -->
                        <div class="m-widget4__item" *ngFor="let schedule of scheduleArray; let i =index">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="{{schedule.image}}" alt="" class="custom-image-setting">
                            </div>
                            <div class="m-widget4__info" style="padding-right: 0px;">
                                <span class="m-widget4__title">

                                    <span class="custom-company-underline" *ngIf=" schedule.scheduleStatus == 'company'">
                                        {{schedule.name}}
                                    </span>
                                    <span class="custom-customer-underline" *ngIf=" schedule.scheduleStatus == 'customer'">
                                        {{schedule.name}}
                                    </span>
                                </span>

                                <br>
                                <span class="m-widget4__sub">
                                    {{schedule.service}}
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number m--font-brand custom-can-price-setting">
                                    ${{schedule.price}}
                                </span>

                                <span class="m-widget4__ext">
                                    <a class="m--font-brand custom-pointer" data-target="#m_modal_4" data-toggle="modal" (click)="getDetail(schedule.name, schedule.price, schedule.service)">Reschedule</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End::Section-->
        </div>
        <!--List 2 Ends-->

        <!--List 3 Start-->
        <div class="col-xl-3">
            <!--begin:: Widgets/Authors Profit-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Started
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                data-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    All
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            Quick Actions
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Activity
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
                                                                Messages
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">
                                                                FAQ
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
                                                                Support
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                            Cancel
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body custom-can-setting">
                    <div class="m-widget4 mcol" [dragula]='"bag-task1"'>


                        <div class="m-widget4__item" *ngFor="let schedule of scheduleArray; let i =index">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="{{schedule.image}}" alt="" class="custom-image-setting">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    {{schedule.name}}
                                </span>
                                <br>
                                <span class="m-widget4__sub">
                                    {{schedule.service}}
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__number m--font-brand custom-can-price-setting">
                                    ${{schedule.price}}
                                </span>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <!--End::Section-->
        </div>
        <!--List 3 Ends-->

        <!--List 4 Start-->
        <div class="col-xl-3">
            <!--begin:: Widgets/Authors Profit-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Completed
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                data-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    All
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            Quick Actions
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Activity
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">
                                                                Messages
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">
                                                                FAQ
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">
                                                                Support
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                            Cancel
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body custom-can-setting">
                    <div class="m-widget4 mcol" [dragula]='"bag-task1"'>

                        <div class="m-widget4__item" *ngFor="let schedule of scheduleArray; let i =index">
                            <div class="m-widget4__img m-widget4__img--logo">
                                <img src="{{schedule.image}}" alt="" class="custom-image-setting">
                            </div>
                            <div class="m-widget4__info">
                                <span class="m-widget4__title">
                                    {{schedule.name}}
                                </span>
                                <br>
                                <span class="m-widget4__sub">
                                    {{schedule.service}}
                                </span>
                            </div>
                            <span class="m-widget4__ext">
                                <span class="m-widget4__ext">
                                    <span class="m-widget4__number m--font-brand custom-can-price-setting">
                                        ${{schedule.price}}
                                    </span>

                                    <span class="m-widget4__ext" *ngIf="i%2 == 0">
                                        <a class="m--font-brand custom-pointer" data-target="#m_modal_review" data-toggle="modal">Review</a>
                                    </span>

                                    <span class="m-widget4__ext" *ngIf="i%2 != 0">
                                        <a class="m--font-brand custom-pointer" data-target="#m_modal_reviewed" data-toggle="modal">Reviewed</a>
                                    </span>

                                </span>

                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <!--End::Section-->
        </div>
        <!--List 4 Ends-->
    </div>
</div>


<!-- Reschedule Modal Here -->
<div aria-labelledby="exampleModalLabel" class="modal fade" id="m_modal_4" role="dialog" tabindex="-1" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Reschedule
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <label class="m--font-danger custom-font-weight" (click)="showNoteHide == false ? showNoteHide = true : showNoteHide = false ">
                    Note:
                </label>
                <label class="custom-font-weight" *ngIf="showNoteHide">
                    To Reschedule After 27
                    <sup>th</sup> June you have pay
                    <span class="m--font-danger custom-font-weight">$10</span> extra
                </label>
                <form>
                    <div class="form-group m-form__group">
                        <br>
                        <label>
                            Company Name:
                        </label>
                        <input class="form-control text-muted" type="text" readonly value="{{RescheduleModalName}}">
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Service Name:
                        </label>
                        <input class="form-control text-muted" type="text" readonly value="{{RescheduleModalService}}">
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Price:
                        </label>
                        <input class="form-control text-muted" type="text" readonly value="${{RescheduleModalPrice}}">
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Date:
                        </label>
                        <br>
                        <div>
                            <div class="input-group date">
                                <input class="form-control m-input" id="m_datepicker_2_validate" placeholder="Select date" readonly="" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group">
                        <label>
                            Time:
                        </label>
                        <br>
                        <div>
                            <div class="input-group timepicker" id="m_timepicker_1_validate">
                                <input class="form-control m-input" placeholder="Select time" readonly="" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-clock-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" type="button">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Reschedule Modal End -->

<!-- Review Modal start -->
<div aria-labelledby="exampleModalLabel" class="modal fade custom-display" id="m_modal_review" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Review
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group m-form__group">
                        <label>
                            Comment
                        </label>
                        <textarea class="form-control m-input m-input--air" rows="3" placeholder="Write Your Comment here"></textarea>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Review
                        </label>
                        <div class="custom-float-right">
                            <span class="fa fa-star checked-hover"></span>
                            <span class="fa fa-star checked-hover"></span>
                            <span class="fa fa-star checked-hover"></span>
                            <span class="fa fa-star checked-hover"></span>
                            <span class="fa fa-star checked-hover"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" type="button">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Review Modal End -->

<!-- Reviewed Modal Start -->
<div aria-labelledby="exampleModalLabel" class="modal fade custom-display" id="m_modal_reviewed" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Reviewed
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group m-form__group">
                        <label>
                            Comment
                        </label>
                        <textarea class="form-control m-input m-input--air" rows="3" readonly>This was a great service</textarea>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Review
                        </label>
                        <div class="custom-float-right">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" type="button">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Reviewed Modal End -->

<!-- DetailModal  Start-->
<div aria-labelledby="exampleModalLabel" class="modal fade custom-display" id="m_modal_detail" role="dialog" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Details
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <label class="m--font-danger custom-font-weight">
                    *Choose Below Option Accordingly
                </label>
                <div class="m-radio-inline">
                    <label class="m-radio m-radio--solid  m-radio--brand custom-font-weight">
                        <input name="example_5" type="radio" value="date1"> 5/7/2018 6PM
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid  m-radio--brand custom-font-weight">
                        <input name="example_5" type="radio" value="date2"> 10/7/2018 10AM
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid  m-radio--brand custom-font-weight">
                        <input name="example_5" type="radio" value="date2"> 12/7/2018 11.30AM
                        <span></span>
                    </label>
                </div>
                <form>
                    <div class="form-group m-form__group" style="margin-top: -15px;">
                        <br>
                        <label>
                            Company Name:
                        </label>
                        <input class="form-control text-muted" type="text" readonly value={{detailModalName}}>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Service Name:
                        </label>
                        <input class="form-control text-muted" type="text" readonly value={{detailModalService}}>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Price:
                        </label>
                        <input class="form-control text-muted" type="text" readonly value="${{detailModalPrice}}">
                    </div>
                    <div class="form-group m-form__group">

                        <div class="m-radio-inline">
                            <span class="m--font-danger custom-font-weight">
                                *Choose
                            </span>
                            <span style="padding-left: 60px;">
                                <label class="m-radio m-radio--solid  m-radio--brand custom-align-center">
                                    <input name="example_4" type="radio" value="accept" (change)="dateTimeHide=false">Accept
                                    <span></span>
                                </label>
                                <label class="m-radio m-radio--solid  m-radio--brand custom-align-center">
                                    <input name="example_4" type="radio" value="reschudle" (change)="dateTimeHide=true"> Reschedule
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group m-form__group" [hidden]="!dateTimeHide">
                        <label>
                            Date &amp; Time Slot 1
                        </label>
                        <br>
                        <div>
                            <div class="input-group date">
                                <input class="form-control m-input" id="m_datetimepicker_2" placeholder="Select date &amp; time" readonly="" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o glyphicon-th"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group" [hidden]="!dateTimeHide">
                        <label>
                            Date &amp; Time Slot 2
                        </label>
                        <br>
                        <div>
                            <div class="input-group date">
                                <input class="form-control m-input" id="m_datetimepicker_2" placeholder="Select date &amp; time" readonly="" type="text">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o glyphicon-th"></i>
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>

                </form>
            </div>
            <div class="modal-footer m--padding-top-10">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" type="button">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<!-- DetailModal  End-->